.cart {
  display: inline-block;
}

.item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 3%;
}

.price {
  font-weight: bold;
  font-size: 26px;
  margin-left: 20%;
}

.container {
  display: flex;
}

img {
  display: inline-block;
  margin-top: 2%;
  width: 10%;
  height: 20%;
}

ul {
  list-style-type: none;
}
