<div class="cart">
    <ul>
        <li *ngFor="let prod of productList">
            <img src="{{ prod.url }}">
            <div class="item">
                <p style="font-weight: bold;">{{ prod.name }}</p>
                Price: {{ prod.price }}<br>
                Amount: <input type="number" [(ngModel)]="prod.quantity" min="1" (change)="calculatePrice()" style="text-align: center; width: 16%;">
                <button class=" btn btn-primary" style="margin-left: 10px;" type="submit" (click)="onRemove(prod.id)">Remove from cart</button>
            </div>
        </li>
    </ul>
    <p class="price">Total: {{ cartPrice }}$</p>
</div>