.cart {
  width: 110%;
  float: left;
}

.order {
  margin-top: 20%;
  margin-left: 20%;
  vertical-align: middle;
}

.item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 7%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
}

.price {
  font-weight: bold;
  font-size: 26px;
  margin-left: 20%;
}

img {
  margin-top: 2%;
  width: 20%;
  height: 30%;
}

ul {
  list-style-type: none;
}
